.about {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 40px 20px;
}

.about h1:first-child {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.about-left h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.about-container {
  background-color: black;
  /* Dark background color */
  color: white;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  /* Center contents horizontally */
  align-items: center;
  /* Center contents vertically */
  text-align: justify;
  border-radius: 30px;
}

.about-left {
  flex: 1;
  /* Take up 50% of the container */
  padding: 0 40px;
}

.about-left p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-icons {
  margin-bottom: 20px;
}

.about-icons p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.about-icons span {
  font-weight: bold;
  margin-right: 5px;
}

.about-link {
  display: flex;
  gap: 20px;
}

.about-link a {
  display: inline-block;
  padding: 8px 20px;
  color: white;
  background-color: #666;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.about-link a:hover {
  background-color: #555;
}

.about-right {
  flex: 1;
  /* Take up 50% of the container */
}

.about-img {
  width: 100%;
  height: 100%;
  /* Ensure the image takes up full height of the container */
}