nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 98px;
  padding: 24px 120px;
  background-color: #fff; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

nav .logo {
  display: flex;
  align-items: center;
  width: 42px;
  height: 42px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul p {
  font-size: 16px;
  font-weight: 700;
  color: #111522;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 44px;
}

nav ul li img {
  width: 44px;
  height: 44px;
  transition: all 0.3s ease;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px 7px 10px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.nav-btn span {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
