nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 98px;
  border: 1px 0 0 0;
  padding: 24px 120px 24px 120px;
}

nav .logo {
  width: 42px;
  height: 42px;
  gap: 0px;
  opacity: 0px;
}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 509px;
  height: 50px;
  list-style: none;
}

nav ul p {
  width: 111px;
  height: 22px;
  font-family: Red Rose;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  color: #111522;
}

nav ul li {
  width: 164px;
  height: 44px;
  gap: 16px;
}

nav img {
  transition: all 0.3s ease;
}

nav li img {
  width: 44px;
  height: 44px;
}
