@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wgh@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.app {
  width: 80%;
  margin: auto;
}

button {
  width: auto;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.98px;
  padding: 4px 4px 4px 16px;
  border-radius: 50px;
  justify-content: space-between;
  background: #111522;
  color: #ffffff;
}

button span {
  width: 42px;
  height: 42px;
  background: #ffffff;
  color: #111522;
  width: 35px;
  height: 35px;
  top: 3.5px;
  left: 3.5px;
}

/* button {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 12px 12px 12px 20px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button span {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
} */
