.header {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  border-bottom: 2px solid #E1E1E1;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-flex img {
  max-width: 100px;
  height: auto;
}

.header-flex hr {
  flex-grow: 1;
  margin: 0 20px;
  border: none;
  border-top: 2px solid #ccc;
}

h1 {
  font-family: 'Red Rose', sans-serif;
  font-size: 2rem;
  margin: 20px 0;
}

h3 {
  font-family: 'Red Rose', sans-serif;
  color: #6F6C90;
  font-size: 20px;
  font-weight: 300;
}

.button-container {
  display: flex;
  justify-content: center;
  width: auto;
}

button {
  width: auto;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.available-button {
  width: auto;
  background-color: white;
  color: black;
  border: 1px solid #E1E1E1;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

button span {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  margin-right: 5px;
  padding: 10px;
}

.FontStyle {
  font-size: 62px !important;
  font-weight: 700;
  line-height: 87px;
}



@media (max-width: 768px) {
  .header-flex {
    flex-direction: column;
  }

  .header-flex hr {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .heading {
    text-align: center;
  }

  .FontStyle {
    font-size: 1.875rem !important;
  }

}

@media (max-width: 900px) {
  .sm\:block {
    display: none !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .heading {
    text-align: center;
  }

  .FontStyle {
    font-size: 1.875rem !important;
  }
}