.highlights{
    width: 100%;
    min-height: 100vh;
   text-align: center;
}

.highlights h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.highlights ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.highlights li {
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 40px;
    transition: background 0.5s ease, color 0.5s ease;
  }
  
  .highlights li:hover {
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  .highlights li:first-child {
    position: relative; /* Needed for the pseudo-element */
    overflow: hidden; /* Hide the overflow of the pseudo-element */
  }
  
  .highlights li:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; /* Start from the right */
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, black, black);
    transition: transform 0.5s ease; /* Smooth transition */
    transform: translateX(100%) translateY(100%); /* Start from bottom-right */
    z-index: -1; /* Place it behind the text */
  }
  
  .highlights li:first-child:hover::before {
    transform: translateX(0) translateY(0); /* Move to cover the element */
  }
  
  .highlights li:first-child:hover {
    color: white; /* Change text color to white on hover */
    z-index: 1; /* Place the text above the pseudo-element */
  }

.highlights button{
   display: block;
   margin: auto;
}

.highlights .highlights-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.highlights .highlights-box {
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(50% - 15px); /* Adjust width for 2-column layout */
  margin-bottom: 30px; /* Add margin between boxes */
}

.highlights .highlights-img {
  border: 2px solid black;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.highlights .highlights-img img {
  width: 100%;
  height: auto;
}

.highlights .highlights-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights .highlights-title h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.highlights .highlights-title p {
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .highlights .highlights-box {
    width: 100%; /* Full width on smaller screens */
  }
}