.task {
  text-align: center;
  width: 95%;
  height: 60vh;
  display: grid;
  place-items: center;
}

.task-container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 20px;
  width: 100%;
  height: 20vh;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.task-box h1:last-child {
  font-weight: lighter;
  font-size: 20px;
  margin-top: 10px;
}

.absolute {
  position: absolute;
  top: 20%;
  /* Adjust to center the image */
  left: 45%;
  /* Adjust to center the image */
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.border-right {
  border-right: 2px solid #E5E6EC;
}


.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .border-right {
    border-right: none;
    /* border-bottom: 1px solid #E5E6EC; */
  }

  .spacing {
    margin-top: 24px;
  }
}